*.o
*.d
*~
*.flat
*.a
.*.cmd
*.ko
*.mod.c
config.kbuild
config.mak
modules.order
Module.symvers
Modules.symvers
Module.markers
.tmp_versions
include-compat/asm
include-compat/asm-x86/asm-x86
include
x86/modules.order
x86/i825[49].[ch]
x86/kvm_main.c
x86/kvm_svm.h
x86/vmx.[ch]
x86/svm.[ch]
x86/mmu.[ch]
x86/paging_tmpl.h
x86/x86_emulate.[ch]
x86/ioapic.[ch]
x86/iodev.h
x86/irq.[ch]
x86/kvm_trace.c
x86/lapic.[ch]
x86/tss.h
x86/x86.[ch]
x86/coalesced_mmio.[ch]
x86/kvm_cache_regs.h
x86/vtd.c
x86/irq_comm.c
x86/timer.c
x86/kvm_timer.h
x86/iommu.c
ia64/asm-offsets.c
ia64/coalesced_mmio.[ch]
ia64/ioapic.[ch]
ia64/iodev.h
ia64/iommu.c
ia64/irq.h
ia64/irq_comm.c
ia64/kvm-ia64.c
ia64/kvm_fw.c
ia64/kvm_lib.c
ia64/kvm_main.c
ia64/kvm_minstate.h
ia64/kvm_trace.c
ia64/lapic.h
ia64/memcpy.S
ia64/memset.S
ia64/misc.h
ia64/mmio.c
ia64/optvfault.S
ia64/process.c
ia64/trampoline.S
ia64/vcpu.[ch]
ia64/vmm.c
ia64/vmm_ivt.S
ia64/vti.h
ia64/vtlb.c
.stgit-*
